body {
  max-width: 1300px;
  min-width: 850px;
  height: auto;
  padding: 100px;
  margin: auto;
  ;
}
.mYi {
  margin: 75px;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  box-shadow: 12px 12px 20px 4px rgb(2, 12, 39);
}
.header_cv {
  border: 2px black;
  display: flex;
  justify-content: start;
  flex-direction: row;
 /* background-color: rgb(145, 148, 145);*/
 background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  align-items: center;
 
}
.header_image {
  display: flex;
  justify-content: flex-start;

  /*background-color: rgb(145, 148, 145);*/
}
.header_name {
  display: flex;

  /* background-color: cornsilk;*/
}
.Headelast_name {
  margin: 10px;
}

.main_contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(45deg, #f1c6a9, #b4d7e7);
  
}
.main_contactS {
  display: flex;
  flex-direction: column;
  justify-content: center;
 /* background-color: darkgrey;*/
}
.mymain_about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: auto;
  background-color: rgb(248, 247, 247);
}

.mymain_aboutdiv {
  margin: 10px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.fott {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
h3 {
  width: 211px;
  border-bottom: 5px solid #a6d3ce;
  padding-bottom: 5px;
  text-align: center;
  text-shadow: 6px 7px 7px #0c0c0c;
}

h4 {
  border-bottom: 2px solid #181717;
  padding-bottom: 1px;
  
  
}
h1 {
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  text-shadow: 13px 15px 10px rgb(79, 89, 119), 16px 17px 7px #0c0c0c;
}

.pshad {
  text-transform: lowercase;
  font-size: 19px;
  text-shadow: 13px 15px 10px rgb(46, 76, 167), 16px 17px 7px #0c0c0c;
  text-align: center;
}
.fott {
  background: linear-gradient(45deg, #f1b58d, #8dcfee);
}
.myImage {
  margin: 40px;
  padding: 10px;
}
.pcontact {
  text-align: center;
  text-shadow: 6px 7px 7px #0c0c0c;
}
