body{
   max-width:  1300px;
 min-width:790px;
 height: 1000px;
     padding: 100px;
    margin: auto; 
}

.header_cv{
  
  
  display: flex; 
  justify-content:space-evenly;
  flex-direction: row;
  background-color: rgb(145, 148, 145);
  align-items: center;
  
}
.header_image {
  display: flex;
  justify-content: flex-start;
  flex-basis: 150px;
  background-color: rgb(145, 148, 145);
}
.header_name{
  display: flex;
  flex-direction: column;
  justify-content:center;
  flex-basis: 300px;
  background-color: cornsilk;
  
}
.Headelast_name{
  font-weight: 500;
 
 }


.main_contact{
  display: flex; 
  flex-direction: row;
  justify-content:space-around;
  background-color: darkgrey;
  
}
.main_contactS {display: flex; 
  flex-direction: column;
  justify-content:center;
  background-color: darkgrey;


}
.mymain_about{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  height: 700px;
background-color: rgb(248, 247, 247);

}

.mymain_aboutdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around
  }
.fott {
  display: flex;
  flex-direction:row;
  align-items: center;
 justify-content: space-around;
}
h3{ border-bottom: 5px solid #d2dad9;
  padding-bottom: 5px;
  text-align: center;
  
}
 

h4 {
  border-bottom: 2px solid #181717;
  padding-bottom: 1px;
}
h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
 /* line-height: 64px;*/
}
p{
  width: 200px;
  margin: 0 auto 8px;
  text-align: center;
  }
  .fott{
    background-color: darkgrey;

  }
  .myImage{
    margin: 40px;
    padding: 10px;
  }